<div class="buttons" *ngIf="!auth.loggedIn">
  <a class="button" (click)="openLogInModal()">Log In</a>
  <a class="button is-dark" (click)="openSignUpModal()">Sign Up</a>
</div>
<div class="buttons" *ngIf="auth.loggedIn">
  <a class="button" routerLink="/profile">
    <span class="icon">
      <fa-icon [icon]="faUser"></fa-icon>
    </span>
    <span>Profile</span>
  </a>
  <a class="button is-dark" [class.is-loading]="loggingOut" (click)="logOut()">
    <span class="icon">
      <fa-icon [icon]="faSignOut"></fa-icon>
    </span>
  </a>
</div>
